html {margin: 0; padding: 0;}

body {font-family: Arial, Helvetica, sans-serif; 
    margin: 0; padding: 0; color: 333;
    background-color: #f4f4f4; font-size: 16px;
    max-width: 100%;}

header, footer {width: 100%; margin: 0; padding: 0;
    background-color: #333
}

header > nav {background-color: #222222; 
    height: 3rem; width: 100%;
    position: sticky; top: 0;
}

.flex-row {display: flex; flex-direction: row; justify-content: space-around; 
    align-items: center; 
    margin: 0; padding: 0;
}

/* Styling all <li> under <nav> */
.list-item {list-style: none; padding: 0.8rem;}

.list-link {color: rgb(200,200,200); text-decoration: none;}
.list-link:hover {color: rgb(150,150,150)}

#home {margin: 0; padding: 0;}
.stacks {position: relative; z-index: 0; width: 100%;}
.stacks > img {width: 100%; height: 30rem; display: block;
    position: relative; z-index: 2;}
.hero-text {color: white; margin: 0;
    position: absolute; z-index: 10; width: 90%;
    top: 50%; left: 50%; transform: translate(-50%, -50%);}

#home h1 {animation: headAnimation 1s ease-in-out 0.1s infinite}    

@keyframes headAnimation {
    0% {color: white}
    33% {color: red}
    67% {color: yellow}
    100% {color: blue}
}

#trivia {
    display: grid; grid-template-columns: repeat(4, 1fr);
    background-color: cornsilk; padding: 15px 0;
}
.card > img {width: 75%; position: relative; left: 50%; 
    transform: translateX(-50%); border-radius: 25px;}

#categories h2 {text-align: center;} 
#categories {padding-bottom: 15px;} 

#scores {width: 100%;}
table {width: 95%; border-collapse: collapse; margin: 2.5%;
}
thead {background-color: #333 !important; color: white;}
th, td {padding: 8px;}
tbody tr:nth-child(odd) {background-color: #ddd;}
td {border: thin solid brown; border-left: 0; border-right: 0;}

#contact {padding: 25px; background-color: #444; color: #ddd}
form {display: flex; flex-direction: column; position: relative;
    width: 40%; left: 50%; transform: translateX(-50%);
    background-color: rgba(0,0,0,20%); padding: 30px;
    border-radius: 10px;}
input, textarea {border-radius: 10px; border: thin solid grey;
    height: 1.5em; outline: none; resize: none;
    margin-top: 10px; padding: 10px;}    
.submit {background-color: darkblue; color: white;
    width: 1.2in; height: 0.4in;} 
.submit:hover {background-color: rgb(0,0,255); transform: scale(1.01)}   

#subscribe {padding: 20px}

footer p {text-align: center; color: rgb(200,200,200);
    margin: 0; padding: 0; position: relative;
    padding: 1.2rem 0;
}

@media (max-width: 600px) {
    header > nav {height: auto;}
    nav > ul {display: flex; flex-direction: column;}
    .flex-row {flex-direction: row; flex-wrap: wrap;}
    #trivia {display: grid; grid-template-columns: repeat(2, 1fr);}
    .trivia-head {grid-area: 1 / 1 / 2 / 5; text-align: center;}
    .trivia1 {grid-area: 2 / 1;}
    .trivia2 {grid-area: 2 / 2;}
    .trivia3 {grid-area: 3 / 1;}
    .trivia4 {grid-area: 3 / 2;}
    .trivia5 {grid-area: 4 / 1;}
    .trivia6 {grid-area: 4 / 2;}
    .trivia7 {grid-area: 5 / 1;}
    .trivia8 {grid-area: 5 / 2;}
}   

@media (min-width: 600px) {
    .flex-row {flex-direction: row; flex-wrap: wrap;}
    #trivia {display: grid; grid-template-columns: repeat(3, 1fr);}
    .trivia-head {grid-area: 1 / 1 / 2 / 5; text-align: center;}
    .trivia1 {grid-area: 2 / 1;}
    .trivia2 {grid-area: 2 / 2;}
    .trivia3 {grid-area: 2 / 3;}
    .trivia4 {grid-area: 3 / 1;}
    .trivia5 {grid-area: 3 / 2;}
    .trivia6 {grid-area: 3 / 3;}
    .trivia7 {grid-area: 4 / 1;}
    .trivia8 {grid-area: 4 / 2;}
    
}

@media (min-width: 992px) {
    #trivia {display: grid; grid-template-columns: repeat(4, 1fr);}
    .trivia-head {grid-area: 1 / 1 / 2 / 5; text-align: center;}
    .trivia1 {grid-area: 2 / 1;}
    .trivia2 {grid-area: 2 / 2;}
    .trivia3 {grid-area: 2 / 3;}
    .trivia4 {grid-area: 2 / 4;}
    .trivia5 {grid-area: 3 / 1;}
    .trivia6 {grid-area: 3 / 2;}
    .trivia7 {grid-area: 3 / 3;}
    .trivia8 {grid-area: 3 / 4;}
}